body{
    background-color:#e8e8e8;
}
.contain{
    max-height: 350px;
    background-color: #000044;
    max-width: 2000px;
}
.tieude{
    color:white;
    text-align: left;
    height: 50px;
    line-height: 50px;
    font-size:20px;
    font-family: sans-serif;
}
.contain{
    display: flex;
    justify-content: space-around;
}
.contain2{
    background-color: white;
    height:380px;
    width:500px;
    color: #666699;
    margin: 0 auto;
    font-family: serif;
   
      }
.noidung1{
    font-size:20px;
    text-align: center;
    padding-top: 20px;
}
.noidung2{
    font-size:20px;
    padding: 30px 0 0 15px;
}
.option{
    font-size:17px;
    padding: 20px 0 0 15px;
}
.nd{
    font-size:12px;
    padding: 0 0 0 15px;
}
.noidung5{
    font-size:15px;
    color:white;
    background-color:#33cc66;
    border: 1px solid;
    width: 100px;
    height:30px;
    line-height:30px;
    text-align: center;
    margin: 0 auto;
}
.noidung8{
    font-size:15px;
    color:white;
    background-color:#33cc66;
    border: 1px solid;
    width: 100px;
    height:30px;
    line-height:30px;
    text-align: center;
   
}
.noidung9{
    font-size:15px;
    color:white;
    background-color:#3399ff;
    border: 1px solid;
    width: 220px;
    height:30px;
    line-height:30px;
    text-align: center;
   
}
.contain3{
    background-color: white;
    display:flex;
    justify-content: center;
}
.contain4{
    background-color: #363636;
    color: white;
    font-size: 10px;
    margin-top: 40px;
    height: 70px;
    }
.noidung10{
    padding: 15px 0 0 150px;
}